export(BainTTestBayesianIndependentSamples)
export(BainTTestBayesianPairedSamples)
export(BainTTestBayesianOneSample)
export(BainAnovaBayesian)
export(BainAncovaBayesian)
export(BainRegressionLinearBayesian)
